
before_install:

    - tar --xz -xvf shellcheck-"${scversion}".linux.x86_64.tar.xz
    - sudo cp shellcheck-"${scversion}"/shellcheck /usr/bin/
    - /usr/bin/shellcheck --version
    - sudo apt install p7zip-full
    - wget http://sec.cuc.edu.cn/huangwei/course/LinuxSysAdmin/exp/chap0x04/web_log.tsv.7z
    - 7z x -ochap0x04shell web_log.tsv.7z  

script:
  - bash test.sh
  - bash lab4/image.sh -h
  - bash lab4/image.sh -f image/ -i 50
  - bash lab4/image.sh -f image/ -C 50
  - bash lab4/image.sh -f image/ -w "zzskin"
  - bash lab4/image.sh -f image/ -s "hhhhh"
  - bash lab4/image.sh -f image/ -p "hhh"
  
  - bash lab4/worldcup.sh 

  - bash lab4/web_log.sh -h
  - bash lab4/web_log.sh -a
  - bash lab4/web_log.sh -b
  - bash lab4/web_log.sh -c
  - bash lab4/web_log.sh -d
  - bash lab4/web_log.sh -e
  - bash lab4/web_log.sh -f /





after_script:
  - /usr/bin/shellcheck lab4/test.sh
  - /usr/bin/shellcheck lab4/image.sh
  - /usr/bin/shellcheck lab4/worldcup.sh
  - /usr/bin/shellcheck lab4/web_log.sh

after_failure:
  - id
  - pwd
  - df -h
  - cat error.log

notifications:
  email:
    on_success: never
